:root {
    --text: #171717;
    --halftone: #514b48;
    --background-secondary: #d9d9d9;
    --background-primary: #f2f2f2;
    --background-dark: #2c2c2c;
    --lighter: #68a6ab;
    --primary: #007580;
    --darker: #094d53;
    --accent: #0079a8;
    --secondary: #b0d4d8;
}