#dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#dashboard-page h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: 0.3em 0;
    color: var(--text);
    text-align: center;
}

#dashboard-page h2 {
    font-size: 1.5em;
    padding: 0.5em 0;
    margin: 0.5em 0;
    text-align: center;
    color: var(--halftone);
}

.dashboard-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
    margin: 1em;
}

.stat-card {
    width: 7em;
    height: 6em;

    background-color: var(--background-secondary);
    padding: 1em;
    border-radius: 1em;
    
}

.stat-card > h3 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 0.3em 0 0 0;
    color: var(--primary);
}

.stat-card > p {
    text-align: center;
    padding: 0.1em;
    color: var(--text);
}

#dashboard-details {
    display: grid;
}

.listable-detail-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}

.detailed-card {
    background-color: var(--background-secondary);
    padding: 1em;
    border-radius: 1em;

    width: 14em;
    height: 16em;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.detailed-card span {
    color: var(--primary);
}

.detailed-card > h3 {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 0.3em 0 0 0;
    color: var(--text);
}

.detailed-card > ul {
    overflow-y: auto;
    list-style-type: none;
    padding: 0 1em;
    color: var(--text);
}

#dashboard-details form {
    display: flex;
    column-gap: 0.5em;
    justify-content: center;
    align-items:center;
}

#dashboard-details form input {
	padding: 0.5em;
	background-color: var(--background-primary);
    border: 1px solid var(--halftone);
	border-radius: 22px;
    border-style: solid;
    color: var(--text);
}

#dashboard-details form .newdetail {
    flex-grow: 2;
}

#dashboard-details form .sendbutton {
	font-weight: bold;
	color: var(--background-secondary);
	background-color: var(--lighter);
	border: 1px solid var(--primary);
    cursor: pointer;
}


/* Responsive UI */

@media (max-width: 800px) {
    .dashboard-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .listable-detail-section {
        gap: 1.5em;
    }
}

@media (max-width: 600px) {
    .listable-detail-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1em;
    }
}