#login-page {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	line-height: 1;
}

#login-page h1:not(.title) {
	font-size: 64px;
	font-weight: normal;
	margin: 0;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginscreen {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.forms {
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcometext {
	text-align: center;
	margin-bottom: 5em;
}

.loginform {
	width: 25em;
	max-width: 90vw;
	padding-right: 5rem;
	border-right: 1px solid #909090;
	text-align: center;
}

.registerform {
	width: 25em;
	max-width: 90vw;
	padding-left: 5rem;
	border-left: 1px solid #909090;
	text-align: center;
}

.forms p {
	margin-bottom: 1em;
}

#login-page form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.nameemail {
	display: flex;
	max-width: 90vw;
}

.nameemail input {
	width: 45%;
}

#login-page input {
	font-family: "Hanken Grotesk", sans-serif;
	padding: 0.7em;
	background-color: #d9d9d9;
	border: 1px solid #b1b1b1;
	border-radius: 22px;
	color: #514b48;
	margin-bottom: 1em;
}

#login-page input[type="submit"] {
	font-weight: bold;
	color: #f2f2f2;
	background-color: #68a6ab;
	border: 1px solid #007782;
}

#login-page input[type="submit"]:hover {
	font-weight: bold;
	color: #007782;
	background-color: #f2f2f2;
	border: 1px solid #007782;
	transition: 0.3s;
	cursor: pointer;
}

#registername {
	margin-right: 0.5em;
}

#registeremail {
	margin-left: 0.5em;
}

#login-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4em;
}

/* ------------- Responsive -------------*/

@media (max-height: 800px) {
	.welcometext {
		display: none;
	}
}

@media (max-width: 975px) {
	#login-page .title {
		font-size: 75pt;
	}

	.forms {
		flex-direction: column;
	}

	.loginform {
		border: none;
		padding: 0;
		padding-bottom: 1rem;
	}

	.registerform {
		padding-top: 1em;
		border: none;
		padding: 0;
	}
}

@media (max-width: 500px) {
	#login-page .title {
		font-size: calc(20vw);
	}

	#login-page form {
		width: 90vw;
	}
}
