@import url('color_scheme.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#hamburger {
    font-size: 2em;
}

#main-header {
    height: 4em;
    display: flex;
    align-items: center;
    padding-inline: 1em;
    background-color: var(--background-secondary);
}
