#welcome-banner {
  display: grid;
  grid-template-areas: "welcome-text"
                       "welcome-description"
                       "start-now-button";
  background-color: var(--background-dark);
  color: var(--background-primary);
  padding-inline: 20%;
  padding-block: 5em 2em;
}

#welcome-banner h1:not(.title) {
  grid-area: welcome-text;
  width: 60%;
  font-size: 4.5em;
  margin: 0;
}

#welcome-banner .title {
  font-size: 10em;
}

#welcome-banner p {
  grid-area: welcome-description;
  justify-self: end;
  width: 40%;
  text-align: end;
  font-size: 1.5em;
  margin-left: auto;
}

#welcome-banner > :first-child {
  margin-top: 0;
}

#start-now-button {
  grid-area: start-now-button;
  justify-self: end;
  height: 2em;
  border: 3px solid var(--lighter);
  border-radius: 1em;
  padding-inline: 1em;
  margin-inline: auto 0;
  background-color: var(--primary);
  color: var(--background-primary);
  font-weight: bold;
  font-size: 1.5em;
}

#product-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  width: fit-content;
  margin: 0 auto 2em;
}

#product-section > h1 {
  margin-left: 0.5rem;
  font-size: 2em;
  justify-self: start;
  grid-column-end: span 5;
}

#product-section > .product-card {
  margin: 0.5em;
}

/* Responsive UI */

@media (max-width: 1200px) {
  #product-section {
    grid-template-columns: repeat(3, 1fr);
  }

  #product-section > h1 {
    font-size: 1.5em;
    grid-column-end: span 3;
  }
}

@media (max-width: 450px) {
  #product-section {
    grid-template-columns: repeat(2, 1fr);
  }

  #product-section > h1 {
    font-size: 1em;
    grid-column-end: span 2;
  }
}
