@import url('color_scheme.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.header-button {
  display: flex;
  border: none;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#main-header {
  height: 4em;
  display: flex;
  align-items: center;
  padding-inline: 1em;
  background-color: var(--background-secondary);
}
