#message-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts {
    width: 300px;
    background-color: var(--lighter);
    height: 900px;
    border-radius: 25px;
    border: 2px solid var(--primary);
}

#chat {
    border-radius: 25px;
    width: 700px;
    background-color: var(--background-secondary);
    border: 2px solid var(--primary);
    height: 900px;
}

#contacts > h1 {
    text-align: center;
    margin: 0 0.5em;
    padding: 0.5em 0;
    border-bottom: 3px solid var(--background-primary);

    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--darker);
    font-size: 30px;
}

#contacts > ul {
    padding: 0px 15px;
    margin: 0;
}

#contacts > ul > li {
    list-style-type: none;
    padding: 1rem;
    border-bottom: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;

    font-weight: 500;
    color: var(--background-primary);
    font-size: 18px;
}

.contact-side:hover {
    font-weight: bold;
    color: var(--primary);
    background-color: var(--secondary);
    transition: 0.3s;
    cursor: pointer;
}

.avatar {
    border-radius: 20px;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;

    font-weight: 500;
    color: var(--primary);
    font-size: 24px;
}

#writemessage {
    padding: 0.5em 1em;
	text-align: center;
    display: flex;
    gap: 0.5em;
}

#writemessage input {
	padding: 0.7em;
	background-color: var(--background-primary);
	border: 1px solid #b1b1b1;
	border-radius: 22px;
	color: #514b48;
	margin-bottom: 1em;
}

#writemessage #newmessage {
    flex-grow: 2;
}

#writemessage #sendbutton {
	font-weight: bold;
	color: #f2f2f2;
	background-color: #68a6ab;
	border: 1px solid #007782;
}

#messages {
    flex-grow: 2;

    max-height: 900px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1rem;
}

.message {
    max-width: 70%;
    word-wrap: break-word;
    width: fit-content;
    height: fit-content;
    display: block;
    padding: 1em;
    margin: 0.3rem;
    border-radius: 25px;
}

.message > p {
    margin: 0.5em 0em;
}

.message > p:last-child {
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: 600;
}

.user1 {
    background-color: var(--primary);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.user1 > p:last-child {
    align-self: flex-start;
}

.user2 {
    background-color: var(--lighter);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}


.user2 > p:last-child {
    align-self: flex-end;
}

