#search-page {
  display: grid;
  grid-template-areas: "header header"
                       "drawer results";
  grid-template-columns: auto auto;
}

#results {
  grid-area: results;
}

#searched-products {
  grid-area: results;
  margin: 5em 15% 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#searched-products .product-card {
  margin: 0.5em;
}

#pagination {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-block: 1em 3em;
}

#pagination a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  transition: all 0.2s ease-out;
  border-radius: 1.25em;
}

#pagination a.active {
  color: var(--primary);
}

#pagination a:not(.active, .ellipsis):hover {
  background: var(--secondary);
}

#pagination a.blocked {
  visibility: hidden;
}

#search-drawer {
  display: table;
  width: 20em;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: clip;
  display: block;
  grid-area: drawer;
  padding: 0 1em 1em;
  background-color: var(--background-secondary);
  transition: all 1s ease-in-out;
}

#search-drawer > h1 {
  margin-block: 0 0.2em;
  font-size: 2em;
  color: var(--primary);
}

#search-drawer * {
  transition: all 1.5s;
}

#search-drawer li {
  list-style-type: none;
  font-size: 1.1em;
  margin-bottom: 0.3em;
  white-space: nowrap;
}

#search-drawer li > a {
  text-decoration: none;
  color: black;
}

body:has(#hamburger-button:checked) #search-drawer {
  width: 0;
  padding: 0;
}

body:has(#hamburger-button:checked) #search-drawer * {
  color: var(--background-secondary);
}
