#search-page {
  gap: 0;
  transition: all 1s ease-in-out;
  position: relative;
  padding-left: 20em;
}

#search-results > h1 {
  margin: 2em 8em 0.5em;
}

#pagination {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-block: 1em 3em;
}

#pagination a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  transition: all 0.2s ease-out;
  border-radius: 1.25em;
}

#pagination a.active {
  color: var(--primary);
}

#pagination a:not(.active, .ellipsis):hover {
  background: var(--secondary);
}

#pagination a.blocked {
  visibility: hidden;
}

#search-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  text-overflow: clip;
  display: block;
  grid-area: drawer;
  padding-bottom: 1em;
  background-color: var(--background-secondary);
  transition: all 1s ease-in-out;
  align-items: start;
}

#search-drawer > h1 {
  margin: 0 0 0 0.5em;
  font-size: 1.5em;
  color: var(--primary);
}

#search-drawer * {
  transition: all 1.5s;
}

#search-drawer li {
  list-style-type: none;
  font-size: 1.1em;
  margin-bottom: 0.3rem;
  white-space: nowrap;
}

#search-drawer li input {
  display: none;
}

#search-drawer li label {
  cursor: pointer;
  transition: color 0.2s;
}

#search-drawer li label:hover {
  color: var(--darker);
}

#search-drawer li label:has(input:checked) {
  color: var(--primary);
}

body:has(#hamburger-button:not(:checked)) #search-page {
  padding-left: 0;
}

body:has(#hamburger-button:not(:checked)) #search-drawer {
  width: 0;
  box-sizing: border-box;
}

body:has(#hamburger-button:not(:checked)) #search-drawer * {
  color: var(--background-secondary);
}

/* Responsive UI */

@media (max-width: 1500px) {
  #search-results > #product-section {
    grid-template-columns: repeat(3, 1fr);
  }

  #search-results > #product-section > h1 {
    font-size: 1.5em;
    grid-column-end: span 3;
  }
}

@media (max-width: 1000px) {
  #search-drawer {
    position: static;
    padding-left: 0;
    width: 100%;
    height: 20em;
    overflow-y: scroll;
    font-size: 0.8em;
  }

  body:has(#hamburger-button:not(:checked)) #search-drawer {
    width: 100%;
    height: 0;
    padding: 0;
  }

  #search-results > h1 {
    margin: 2em 0 0.5em;
    text-align: center;
  }
}

@media (max-width: 450px) {
  #search-results > #product-section {
    grid-template-columns: repeat(2, 1fr);
  }

  #search-results > #product-section > h1 {
    font-size: 1em;
    grid-column-end: span 2;
  }
}

