#settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#settings-page section {
    width: 30vw;
}

#settings-page h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--primary);
}

.information-field {
    margin-bottom: 2em;
}

#settings-page input {
    box-sizing: border-box;
	font-family: "Hanken Grotesk", sans-serif;
	border: 1px solid var(--halftone);
    background-color: var(--background-secondary);
	border-radius: 22px;
	color: var(--text);
    padding: 0.7em;
    width: 100%;
}

#settings-page input[type="button"] {
	font-weight: bold;
	color: var(--light);
	background-color: var(--lighter);
	border: 1px solid var(--primary);
}
