@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
}

header {
	background-color: var(--background-secondary);
}

header > h1 {
	text-align: center;
	color: var(--primary);
	margin: 2px;
}

main {
    min-height: calc(100vh - 11em);
}

button {
	cursor: pointer;
}

.submit-button {
	border: none;
  border-radius: 200em;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--background-primary);
  transition: all 0.3s;
}

.submit-button:hover {
  background-color: var(--background-primary);
  color: var(--primary);
}

#product-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  width: fit-content;
  margin: 0 auto 2em;
}

#product-section > h1 {
  margin-left: 0.5rem;
  font-size: 2em;
  justify-self: start;
  grid-column-end: span 5;
}

#product-section > .product-card {
  margin: 0.5em;
}

/* Responsive UI */

@media (max-width: 1200px) {
  #product-section {
    grid-template-columns: repeat(3, 1fr);
  }

  #product-section > h1 {
    font-size: 1.5em;
    grid-column-end: span 3;
  }
}

@media (max-width: 500px) {

  #product-section {
    grid-template-columns: repeat(2, 1fr);
  }

  #product-section > h1 {
    font-size: 1em;
    grid-column-end: span 2;
  }
}

.spinner {
  position: relative;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner > div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  border-radius: 50%;
  border-top: 2px solid var(--primary);
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
}

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
