.toast-message {
  visibility: hidden;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--info);
  color: white;
  position: fixed;
  z-index: 1;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.toast-message .material-symbols-outlined {
  font-size: 1.5em;
  vertical-align: middle;
}

.toast-message.show {
  visibility: visible;
  top: 4em;
  animation: toast-appear 0.5s, toast-disappear 0.6s 4.5s;
}

@keyframes toast-appear {
  from {
    top: -1em;
    opacity: 0;
  }
  to {
    top: 4em;
    opacity: 1;
  }
}

@keyframes toast-disappear {
  0% {
    top: 4em;
    opacity: 1;
  }
  50% {
    top: -1em;
    opacity: 0;
  }
  100% {
    top: -1em;
    opacity: 0;
  }
}