body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	width: 100vw;
}

h1 {
	font-family: "Hanken Grotesk", sans-serif;
	font-size: 64px;
}

p {
	font-family: "Hanken Grotesk", sans-serif;
}

footer {
	width: 100vw;
	height: 150px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginscreen {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -17rem;
}

.forms {
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcometext {
	text-align: center;
}

.loginform {
	padding-right: 5rem;
	border-right: 1px solid #909090;
	text-align: center;
}

.registerform {
	padding-left: 5rem;
	border-left: 1px solid #909090;
	text-align: center;
}

.forms p {
	margin-bottom: 1em;
}

form {
	gap: 0.1em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

input {
	padding: 0.7em;
	background-color: #d9d9d9;
	border: 1px solid #b1b1b1;
	border-radius: 22px;
	color: #514b48;
}

input[type="submit"] {
	color: #f2f2f2;
	background-color: #68a6ab;
	border: 1px solid #007782;
}
