/* Testing Logo */

#logo-small {
    height: 150px;
    width: auto;
}

#logo-large {
    height: 150px;
    width: auto;
}

.logo-bg {
    fill: #007782;
} 

.logo-fg {
    fill: #ffffff;
}

/* Testing Fonts */

#p1 {
    font-family: 'Hanken Grotesk', 'Segoe UI', Verdana, sans-serif;;
    font-weight: 500;
    font-size: 36pt;
    color: #111717;
}

#p2 {
    font-family: 'Hanken Grotesk', 'Segoe UI', Verdana, sans-serif;;
    font-weight: 300;
    font-size: 16pt;
    color: #818d8d;
}