body {
  margin: 0;
}

#logo-small {
	height: 65px;
	width: auto;
}

#logo-large {
	height: 150px;
	width: auto;
}

.logo-bg {
	fill: var(--background-secondary);
}

.logo-fg {
	fill: var(--primary);
}

header {
	background-color: var(--background-secondary);
}

header > h1 {
	text-align: center;
	color: var(--primary);
	margin: 2px;
}

main {
    min-height: calc(100vh - 11em);
}

footer {
	background-color: var(--darker);
}

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
